/* 移动端 */

@media screen and (max-aspect-ratio:4/3) {
    .homePage-title {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
        text-align: center;
        /* background: #40f; */
    }
    .homePage-title>img {
        width: 80%;
        max-width: 33.1rem;
    }
    .homePage-footer {
        display: none;
    }
}


/* PC端 */

@media screen and (min-aspect-ratio:4/3) {
    .homePage-title {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
        text-align: center;
        /* background: #f40; */
    }
    .displayHomeKey {
        display: none;
    }
    .homePage-footer {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
    }
}